.bg-img {
  background-image: linear-gradient(
      to bottom,
      rgba(31, 32, 33, 0.541),
      rgba(30, 28, 29, 0.589)
    ),
    url("https://thumbs.dreamstime.com/z/restaurant-alfresco-17793334.jpg");
  background-attachment: fixed;
}
.bg-img-head {
  background-position: center;
  background-image: linear-gradient(
      to bottom,
      rgba(31, 32, 33, 0.265),
      rgba(30, 28, 29, 0.221)
    ),
    url("https://images.unsplash.com/photo-1579178404481-14046f8e13e7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
}
